$PRIMARY: #51cf66;
$PRIMARY_HOVER: #37b24d;
$PRIMARY_ACTIVE: #40c057;
$SECONDARY: #fcc419;
$SECONDARY_HOVER: #f59f00;
$SECONDARY_ACTIVE: #fab005;
$DANGER: #fa5252;
$DANGER_HOVER: #e03131;
$DANGER_ACTIVE: #f03e3e;
$PRIMARY_TEXT: #37b24d;
$SECONDARY_TEXT: #f59f00;
$DANGER_TEXT: #e03131;
$PRIMARY_OPACITY_HOVER: rgba(235, 251, 238, 0.5);
$PRIMARY_OPACITY_ACTIVE: #ebfbee;
$SECONDARY_OPACITY_HOVER: rgba(235, 251, 238, 0.5);
$SECONDARY_OPACITY_ACTIVE: #fff9db;
$DANGER_OPACITY_HOVER: rgba(255, 245, 245, 0.5);
$DANGER_OPACITY_ACTIVE: #fff5f5;
$BTN_DEFAULT_OPACITY_HOVER: rgba(248, 249, 250, 0.5);
$BTN_DEFAULT_OPACITY_ACTIVE: #f8f9fa;
$TEXT_DEFAULT: #212529;
$BTN_BODER: #adb5bd;
$WHITE: #fff;
$BLACK: #212529;

$INPUT_BORDER: #adb5bd;
$INPUT_PLACEHOLDER: #aaa;
