@use '../styles/Color.scss';
@use '../styles/Typography.scss';

@mixin BUTTON_LARGE {
  padding: 0 24px;
  height: 48px;
  border-radius: 12px;
  @include Typography.BUTTON_LARGE;
}

@mixin BUTTON_MIDDLE {
  padding: 0 20px;
  height: 40px;
  border-radius: 12px;
  @include Typography.BUTTON_MIDDLE;
}

@mixin BUTTON_SMALL {
  padding: 0 16px;
  height: 36px;
  border-radius: 12px;
  @include Typography.BUTTON_SMALL;
}

@mixin BUTTON_THEME($BTN_THEME, $BTN_TYPE) {
  @debug 'test #{$BTN_THEME} #{$BTN_TYPE}';
  @if $BTN_THEME == PRIMARY and $BTN_TYPE == FILL {
    background-color: Color.$BTN_PRIMARY;
    color: Color.$WHITE;

    &:hover {
      background-color: Color.$BTN_PRIMARY_HOVER;
    }
    &:active {
      background-color: Color.$BTN_PRIMARY_ACTIVE;
    }
  } @else if $BTN_THEME == PRIMARY and $BTN_TYPE == OUTLINE {
    background-color: Color.$WHITE;
    color: Color.$BTN_PRIMARY_TEXT;

    &:hover {
      background-color: Color.$BTN_PRIMARY_OPACITY_HOVER;
    }
    &:active {
      background-color: Color.$BTN_PRIMARY_OPACITY_ACTIVE;
    }
  } @else if $BTN_THEME == PRIMARY and $BTN_TYPE == TEXT {
    background-color: transparent;
    color: Color.$BTN_PRIMARY_TEXT;

    &:hover {
      background-color: Color.$BTN_PRIMARY_OPACITY_HOVER;
    }
    &:active {
      background-color: Color.$BTN_PRIMARY_OPACITY_ACTIVE;
    }
  } @else if $BTN_THEME == SECONDARY and $BTN_TYPE == FILL {
    background-color: Color.$BTN_SECONDARY;
    color: Color.$WHITE;

    &:hover {
      background-color: Color.$BTN_SECONDARY_HOVER;
    }
    &:active {
      background-color: Color.$BTN_SECONDARY_ACTIVE;
    }
  } @else if $BTN_THEME == SECONDARY and $BTN_TYPE == OUTLINE {
    background-color: Color.$WHITE;
    color: Color.$BTN_SECONDARY_TEXT;

    &:hover {
      background-color: Color.$BTN_SECONDARY_OPACITY_HOVER;
    }
    &:active {
      background-color: Color.$BTN_SECONDARY_OPACITY_ACTIVE;
    }
  } @else if $BTN_THEME == SECONDARY and $BTN_TYPE == TEXT {
    background-color: transparent;
    color: Color.$BTN_SECONDARY_TEXT;

    &:hover {
      background-color: Color.$BTN_SECONDARY_OPACITY_HOVER;
    }
    &:active {
      background-color: Color.$BTN_SECONDARY_OPACITY_ACTIVE;
    }
  } @else if $BTN_THEME == DANGER and $BTN_TYPE == FILL {
    background-color: Color.$BTN_DANGER;
    color: Color.$WHITE;

    &:hover {
      background-color: Color.$BTN_DANGER_HOVER;
    }
    &:active {
      background-color: Color.$BTN_DANGER_ACTIVE;
    }
  } @else if $BTN_THEME == DANGER and $BTN_TYPE == OUTLINE {
    background-color: Color.$WHITE;
    color: Color.$BTN_DANGER_TEXT;

    &:hover {
      background-color: Color.$BTN_DANGER_OPACITY_HOVER;
    }
    &:active {
      background-color: Color.$BTN_DANGER_OPACITY_ACTIVE;
    }
  } @else if $BTN_THEME == DANGER and $BTN_TYPE == TEXT {
    background-color: transparent;
    color: Color.$BTN_DANGER_TEXT;

    &:hover {
      background-color: Color.$BTN_DANGER_OPACITY_HOVER;
    }
    &:active {
      background-color: Color.$BTN_DANGER_OPACITY_ACTIVE;
    }
  } @else {
    color: Color.$TEXT_DEFAULT;
    background-color: transparent;

    &:hover {
      background-color: Color.$BTN_DEFAULT_OPACITY_HOVER;
    }
    &:active {
      background-color: Color.$BTN_DEFAULT_OPACITY_ACTIVE;
    }
  }

  @if $BTN_TYPE == OUTLINE {
    border: 1px solid Color.$BTN_BODER;
  } @else {
    border: none;
  }
}

@mixin PRIMARY_BUTTON {
  $BTN_THEME: PRIMARY;
  @include BUTTON_THEME($BTN_THEME, TEXT);

  &[data-type='outline'] {
    $BTN_TYPE: OUTLINE;
    @include BUTTON_THEME($BTN_THEME, $BTN_TYPE);
  }
  &[data-type='fill'] {
    $BTN_TYPE: FILL;
    @include BUTTON_THEME($BTN_THEME, $BTN_TYPE);
  }
}

@mixin SECONDARY_BUTTON {
  $BTN_THEME: SECONDARY;
  @include BUTTON_THEME($BTN_THEME, TEXT);

  &[data-type='outline'] {
    $BTN_TYPE: OUTLINE;
    @include BUTTON_THEME($BTN_THEME, $BTN_TYPE);
  }
  &[data-type='fill'] {
    $BTN_TYPE: FILL;
    @include BUTTON_THEME($BTN_THEME, $BTN_TYPE);
  }
}

@mixin DANGER_BUTTON {
  $BTN_THEME: DANGER;
  @include BUTTON_THEME($BTN_THEME, TEXT);

  &[data-type='outline'] {
    $BTN_TYPE: OUTLINE;
    @include BUTTON_THEME($BTN_THEME, $BTN_TYPE);
  }
  &[data-type='fill'] {
    $BTN_TYPE: FILL;
    @include BUTTON_THEME($BTN_THEME, $BTN_TYPE);
  }
}

@mixin DEFAULT_BUTTON {
  $BTN_THEME: DEFAULT;
  @include BUTTON_THEME(DEFAULT, TEXT);

  &[data-type='outline'] {
    $BTN_TYPE: OUTLINE;
    @include BUTTON_THEME($BTN_THEME, $BTN_TYPE);
  }
  &[data-type='fill'] {
    $BTN_TYPE: FILL;
    @include BUTTON_THEME($BTN_THEME, $BTN_TYPE);
  }
}

.btn {
  cursor: pointer;

  @include DEFAULT_BUTTON;

  &[data-theme='primary'] {
    @include PRIMARY_BUTTON;
  }
  &[data-theme='secondary'] {
    @include SECONDARY_BUTTON;
  }
  &[data-theme='danger'] {
    @include DANGER_BUTTON;
  }
  &[data-size='large'] {
    @include BUTTON_LARGE;
  }
  &[data-size='middle'] {
    @include BUTTON_MIDDLE;
  }
  &[data-size='small'] {
    @include BUTTON_SMALL;
  }
}
